<!DOCTYPE html>
<html>

<head>
    <title>
        {{title}}
    </title>
    <link rel="stylesheet" href="./css/styles.css" />
</head>

<body>
    {{>header}}
    <div class="main-content">
        <img class="portrait" src="./images/mayank.jpg" />
        <h3>{{about}}</h3>
    </div>
    {{>footer}}
</body>

</html>