<!DOCTYPE html>
<html>

<head>
    <title>
        {{title}}
    </title>
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="icon" href="./images/weather.png">

</head>

<body>
    {{>header}}
    <div class="main-content">
        <h3>{{message}}</h3>
    </div>
    {{>footer}}

</body>

</html>